/**
 * CONTENTS
 *
 * Media Queries................Responsividade.
 */




/*------------------------------------*\
  #MEDIA QUERIES
\*------------------------------------*/

/**
 * Ajustes extra para responsividade do site
 */

/*troca breakpoint do menu collpase do bootstrap*/
@media (max-width: 1024px) {
    /**
     * Banner
     */
    .banner {
        /*background: url("../img/bg-tablet.jpg") no-repeat top center / contain;*/
        height: 620px;
        margin-top: 63px;
        padding-top: 50px;
    }

        .banner__titulo {
            font-size: 34px;
            letter-spacing: -1px;
        }    

        .banner__video {
            margin-top: 50px;
        }


    /**
     * Header.
     */

    .header {
        height: auto;

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99999;        

        border-bottom: 1px solid #fff;
    } 

    .navbar {
        margin-bottom: 0;
    }

    .navbar-header {
        float: none;
        height: 62px;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }

    .navbar-nav>li {
        float: none;
    }

    .collapse.in{
        display:block !important;
        margin-bottom: 150%;
    }  

    .navbar-right {
        float: left !important;
    }

    .header__btn-experimente {
        margin-top: 0;
        margin-bottom: 15px;
        margin-left: 15px;
    }

    .navbar-toggle {
        margin-bottom: 0;
        margin-right: 0;
        margin-top: 15px;
    }

    .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .navbar-collapse {
        border: 0;
        box-shadow: none;
    }

    .navbar-nav {
        margin: 7.5px 15px;
    }    
}

@media screen and (max-width: 991px) {
    /**
     * Body
     */
    body {
        background: #fff url("../img/bg-tablet.jpg") no-repeat center 63px / 100% 611px;
    }

    /**
     * Banner
     */
    .banner__video {
        margin-top: 100px;
    }

        .banner__video iframe {
            width: 390px;
            height: 220px;
            margin-left: 0px;
        }      

    /**
     * conteudo principal
     */    
    .meio__ferramentas {
        margin-bottom: 50px;
    }

        .titulo__ferramentas {
            font-size: 32px;
            margin-top: 0;
        }

        .ferramentas__esquerda {
            margin-bottom: 40px;
        }

    .meio__conjunto {
        /*background-image: none;*/
    }

        .conjunto__meninas {
            margin-top: 0;
        }    

            .conjunto__leticia,
            .conjunto__talicia { text-align: left; }

                .img-leticia,
                .img-talicia { float: left; margin: 0 50px 0 0; }

                .img-leticia { margin-top: 35px; }

                .conjunto__leticia-desc,
                .conjunto__talicia-desc { padding-right: 100px; }

            /*bxslider em conjunto meninas*/
            /*.bx-clone {
                display: none;
            }*/

            .meio__conjunto .bx-wrapper .bx-viewport {
                background-color: transparent;
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
                box-shadow: none;
                border: 0;
                /*left: 0;*/
            }

            /* DIRECTION CONTROLS (NEXT / PREV) */
            .meio__conjunto .bx-wrapper .bx-next {
                right: 40px;
                background: url("../img/bx-seta-conjunto.png") no-repeat 0;
            }

            .meio__conjunto .bx-wrapper .bx-prev {
                display: none;
            }

            .meio__conjunto .bx-wrapper .bx-next:hover {
                background-position: 0 0;
            }

            .meio__conjunto .bx-wrapper .bx-controls-direction a {
                margin-top: -16px;
                width: 31px;
                height: 58px;
            }

        .meio__parceira .media-heading {
            margin-top: 15px;
        }            

        .img-devices {
            margin-top: 12px;
        }

        .parceria__curtiu-conhece {
            margin-top: 30px;
            margin-bottom: 50px;
        }   

.meio__motivos {}

    .motivos__apps img {
        margin-right: 5px;
    }

    .motivos__cta {
        font-size: 19px;
    }

}

@media screen and (max-width: 767px) {
    /**
     * Body
     */
    body {
        background: #fff url("../img/fundo-cinza.jpg") no-repeat center top / 100%;
    }

    /**
     * Banner
     */
    .banner {
        height: auto;
    }

    .banner__imagem-meninas {
        /*display: block;*/
        background: #fff url("../img/fundo-meninas-celular.jpg") no-repeat center top / 100% 440px;
        height: 440px;
        margin-top: 0px;
    }   

    /**
     * Header
     */
    .navbar-toggle {
        margin-bottom: 0;
        margin-right: 0;
        margin-top: 15px;
    }

    .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .nav.navbar-nav > li > a,
    .nav.navbar-nav > li > a {
        font-size: 18px;
    } 

    .navbar-collapse {
        border: 0;
        bottom: 0;
        box-shadow: none;
    }

    .navbar-nav {
        margin: 7.5px 15px;
    }

    .header__btn-experimente {
        display: block;
        white-space: normal;
    }

    .header__btn-experimente-mobile {
        bottom: 0;
        margin-top: 15px;
    }

    /**
     * Footer geral
     */
    .footer__copyright,
    .footer__links {
        text-align: center;
    }

    .footer__links {
        margin-top: 0;
    }    

    .footer__copyright {
        margin-top: 25px;
    }    

    .footer__links a {
        float: none;
    }

    /**
     * Banner
     */
    .banner {
        /*background: url("../img/bg-celular.jpg") no-repeat top center / cover;
        height: 950px;*/
        padding-top: 40px;
    }

        .banner__titulo {
            font-size: 26px;
        }

        .banner__video {
            margin-top: 30px;
        }

            .banner__video iframe {
                width: 290px;
                height: 165px;
            }         


    /**
     * Conteudo principal
     */
    .meio__feramentos {}

        .titulo__ferramentas {
            font-size: 28px;
        }

        .ferramentas__titulo-descricao {
            font-size: 19px;
        }

        .ferramentas__organizacao,
        .ferramentas__colaboracao {
            margin-top: 30px;
        }

    .meio__conjunto {}

        .titulo__conjunto {
            font-size: 32px;
        }

            .conjunto__leticia,
            .conjunto__talicia { }

                .img-leticia,
                .img-talicia { float: none; margin: 0; }

                /*.img-talicia { margin-top: 52px; }*/

                .conjunto__leticia-desc,
                .conjunto__talicia-desc { margin-top: 0; padding-right: 0; }


    .meio__parceira {
        background: #fff url("../img/bg-barra-vermelha-mobile.jpg") no-repeat top center / 100%;
        min-height: 749px;
    }

        .parceira__titulo {
            font-size: 30px;
        }

        .meio__parceira .media-heading {
            text-align: center;
        }        

        .meio__parceira .media-left {
            padding-right: 0;
            display: block;
            margin-top: 25px;
        }

        .meio__parceira .media-body {
            width: 100%;
            font-size: 16px;
        } 

    .img-devices {
        margin-top: 50px;
    } 

    .parceria__curtiu,
    .parceria__conhece {
        font-size: 34px;
        letter-spacing: -1px;
    }

    .parceria__conhece {
        margin-top: 30px;
    }  

    .parceria__instituto-premio img {
        float: none !important;
    } 

    .instituto-premio__texto {
        font-size: 16px;
    }        

    .meio__motivos {}

        .meio__motivos .container-fluid {
            padding-left: 0;
            padding-right: 0;
        }

        .motivos__apps {
            padding-top: 0;
            text-align: center;
        }

            .motivos__apps img {
                margin-right: 25px;
                margin-bottom: 25px;
            }        

        .motivos__cta {
            width: 100%;
        }

}

@media screen and (max-width: 1024px) and (orientation: landscape) {
    /**
     * Conteudo principal
     */
    .meio__ferramentas {
        margin-top: 80px;
    }

    .titulo__ferramentas {
        margin-top: 0;
    }

    .conjunto__leticia-desc,
    .conjunto__talicia-desc {
        font-size: 16px;
        line-height: 20px;
        margin-top: 0;
    }

    .conjunto__nome {
        font-size: 30px;
    }

    .conjunto__sobrenome {
        font-size: 20px;
    }

    .parceira__titulo {
        font-size: 34px;
    }

    .parceria__curtiu-conhece {
        margin-top: 100px;
    }

    .parceria__conhece,
    .parceria__curtiu {
        font-size: 30px;
        letter-spacing: -1px;
    }

    .parceria__instituto-premio img {
        width: 25%;
    }

    .motivos__apps img {
        margin-right: 10px;
    }    

    .meio__parceira .media {
        margin-top: 16px;
    }    
}

@media screen and (max-width: 321px) {    
    /**
     * Body
     */
    body {
        background-position: center 63px;
    }

    /**
     * Banner
     */
    .banner {
        /*height: 850px;*/
    }

    /**
     * Conteudo principal
     */
    .meio__parceira {}

        .parceira__titulo {
            font-size: 26px;
        }

        .meio__parceira .media {
            margin-top: 0;
        }

        .img-devices {
            /*margin-top: 30px;*/
        }        

    .motivos__apps img {
        margin-right: 15px;
        margin-bottom: 15px;
    }        


}

@media screen and (max-width: 991px) and (orientation: landscape) {    
 
}


@media screen and (max-width: 321px) and (orientation: landscape) { 

}