/**
 * METODOLOGIA CSS
 * BEM - https://en.bem.info/ ou http://getbem.com/
 * -- Bloco / Elemento / Modificador
 *
 *
 * DESENVOLVIMENTO
 *
 * SETTINGS
 * Reset................CSS Reset.
 * Global...............Estilos globais. 
 * Funcionais...........Classes de estilos reutilizaveis.
 * Bootstrap............Sobrescreve os estilos.
 *
 */


/*------------------------------------*\
  #SETTINGS
\*------------------------------------*/

/**
 * Reset
 */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;
    box-sizing: border-box;
}


/**
 * Global
 */

* {
    margin: 0 auto;
    padding: 0;
    -webkit-transition: all ease 0.25s;
    -o-transition: all ease 0.25s;
    -moz-transition: all ease 0.25s;
    -ms-transition: all ease 0.25s;
    transition: all ease 0.25s;
}

body {
    background-color: #fff;
    font: 16px 'PT Sans', Arial, sans-serif;
    color: #7d7d7d;
    overflow-x: hidden;
}

a,
a:focus,
a:active {
    color: #DD3416;
}

    a:hover {
        text-decoration: underline;
    }

/*img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
}*/

::selection,
::-moz-selection {
    background: #0476D5;
    color: #fff;
    text-shadow: none;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #666;
}




/*------------------------------------*\
  #BASE
\*------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 { color: #2b2b2b; letter-spacing: -1px; }


/**
 * Classes Funcionais
 */

.font-12 { font-size: 12px; }
.font-14 { font-size: 14px; }
.font-18 { font-size: 18px; }
.font-20 { font-size: 20px; }
.font-24 { font-size: 24px; }

.font-100 { font-weight: 100; }
.font-400 { font-weight: 400; }
.font-600 { font-weight: 600; }
.font-700 { font-weight: 700; }
.font-800 { font-weight: 800; }


/**
 * Bootstrap - alteramos estilos padroes
 */

.navbar {
    /*margin-bottom: 0;
    min-height: auto;
    border-radius: 0;
    border: 0;*/
}

.navbar-brand {
    /*height: auto;*/
    /*line-height: normal;*/
    /*padding: 0 15px;*/
}

.navbar-brand > img {
    /*margin-top: 15px;*/
}

/*.navbar-nav {
    margin-top: 7px;
}*/

.nav.navbar-nav > li > a,
.nav.navbar-nav > li > a {
    color: #fff;

    background: linear-gradient(to right, rgba(51,178,204, .90) 50%, transparent 50%);
    background-size: 217% 100%;
    background-position:right bottom;
}

.nav > li > a:focus,
.nav > li > a:hover,
.nav > li.active > a {
    /*background-color: #cd361d;*/
    background-color: transparent;
    background-position:left bottom;
}



/*------------------------------------*\
  #TITULOS
\*------------------------------------*/

/**
 * 
 */

.titulo {
    font-weight: 300;
    text-align: center;
}

.sub-titulo {
    text-align: center;
}



/*------------------------------------*\
  #BLOCOS
\*------------------------------------*/

/**
 * Header.
 */

.header {
    background: #fff url("../img/banner.jpg") no-repeat top center / cover;
    height: 765px;
    padding: 30px 30px 0;
    overflow: hidden;
}

    .navbar-brand__startups {
        margin-left: 15px;
    }

    .header__frase {
        position: absolute;
        bottom: 15%;
        left: 50px;

        background-color: #33b2cc;
        background-color: rgba(51,178,204, 0.9);

        padding: 35px;
    }

        .header__frase h1 {
            color: #fff;
            font-size: 44px;
            line-height: 40px;
            margin: 0;
        }




/**
 * Conteudo principal
 */

/*quem somos*/
.section__quem-somos {
    background: url("../img/fundo-foguete.jpg") no-repeat -200% 727px;
    /*height: 727px;*/

    -webkit-transition: all ease 1s;
    -o-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -ms-transition: all ease 1s;
    transition: all ease 1s;
}

.section__quem-somos.fundo {
    background-position: top left;
}

    .quem-somos__texto {
        transform: translateY(70%);
        text-align: right;
    }

        .quem-somos__texto p {
            float: right;
            width: 75%;
            line-height: 35px;
        }

        .quem-somos__link-site {
            float: right;
            background-color: #e6e6e6;
            color: #999;
            font-size: 14px;
            margin-top: 25px;
            padding: 10px 42px;
            border-radius: 25px;
        }

            .section__quem-somos h1 {
                color: #7d7d7d;
                font-weight: 600;
            }    

/*em numero*/
.section__numeros {
    background: url("../img/fundo-em-numeros.jpg") no-repeat top center / cover;
    height: 435px;
}


/**
 * Footer geral
 */
.footer {
    background-color: #666666;
    padding-top: 15px;
    padding-bottom: 15px;
}

    .footer a {
        color: #fff;
        text-decoration: none;
    }

    .footer__links {
        margin-top: 25px;
    }

        .footer__links a {
            float: left;
            margin-right: 20px;
        }

    .footer__copyright {
        text-align: right;
    }

    .footer__copyright-logo {
        width: 100px;
        margin-bottom: 5px;
        display: inline-block;
    }

    .footer__copyright-ms {
        margin: 0;
    }



/**
 * Erro404
 */
.erro404 {
    color: #666;
    background: none;
}

.erro404 .titulo {
    font-family: "Segoe UI Light",Arial,sans-serif;
}

.erro404 .header__btn-experimente {
    border: 2px solid #DD3416;
    color: #DD3416;
    font-size: 20px;
    font-family: "Segoe UI Light",Arial,sans-serif;
}

.Erro404 {
    margin: 10% auto 0px;
}



/*------------------------------------*\
  #MODIFICADORES
\*------------------------------------*/

/**
 * Modificadores de estilo gerais.
 */