/**
 * METODOLOGIA CSS
 * BEM - https://en.bem.info/ ou http://getbem.com/
 * -- Bloco / Elemento / Modificador
 *
 *
 * DESENVOLVIMENTO
 *
 * Reset................CSS Reset.
 * Global...............Estilos globais. 
 * Funcionais...........Classes de estilos reutilizaveis.
 * Bootstrap............Sobrescreve os estilos.
 *
 *
 * OBSERVAÇÕES
 *
 * Minificação do arquivo Koala http://koala-app.com/ 
 * -- Arquivo index.html usa o arquivo minificado.
 *
 */


/*------------------------------------*\
  #SETTINGS
\*------------------------------------*/

/**
 * Reset
 */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;
    box-sizing: border-box;
}


/**
 * Global
 */

* {
    margin: 0 auto;
    padding: 0;
    -webkit-transition: all ease 0.25s;
    -o-transition: all ease 0.25s;
    -moz-transition: all ease 0.25s;
    -ms-transition: all ease 0.25s;
    transition: all ease 0.25s;
}

body {
    background-color: #fff;
    font: 16px 'PT Sans', Arial, sans-serif;
    color: #7d7d7d;
    overflow-x: hidden;
}

a,
a:focus,
a:active {
    color: #33B2CC;
}

    a:hover {
        color: #33B2CC;
        text-decoration: underline;
    }

/*img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
}*/

::selection,
::-moz-selection {
    background: #0476D5;
    color: #fff;
    text-shadow: none;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #666;
}




/*------------------------------------*\
  #BASE
\*------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 { color: #fff; font-weight: 900; }


/**
 * Classes Funcionais
 */

.font-12 { font-size: 12px; }
.font-14 { font-size: 14px; }
.font-18 { font-size: 18px; }
.font-20 { font-size: 20px; }
.font-24 { font-size: 24px; }

.font-100 { font-weight: 100; }
.font-400 { font-weight: 400; }
.font-600 { font-weight: 600; }
.font-700 { font-weight: 700; }
.font-800 { font-weight: 800; }


/**
 * Bootstrap - alteramos estilos padroes
 */

/*.navbar {
    margin-bottom: 0;
    min-height: auto;
    border-radius: 0;
    border: 0;
}*/

/*.navbar-brand {
    height: auto;
    line-height: normal;
    padding: 0 15px;
}*/

/*.navbar-brand > img {
    margin-top: 15px;
}*/

/*.navbar-nav {
    margin-top: 7px;
}*/

.nav.navbar-nav > li > a,
.nav.navbar-nav > li > a {
    color: #fff;

    background: linear-gradient(to right, rgba(51,178,204, .90) 50%, transparent 50%);
    background-size: 217% 100%;
    background-position:right bottom;
}

.nav > li > a:focus,
.nav > li > a:hover,
.nav > li.active > a {
    /*background-color: #cd361d;*/
    background-color: transparent;
    background-position:left bottom;
}

/* animate hamburguer menu */
.navbar-toggle span {
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.navbar-toggle.open span {
    height: 3px;
}

.navbar-toggle.open .icon-bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.navbar-toggle.open .icon-bar + .icon-bar {
    width: 0%;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}

.navbar-toggle.open .icon-bar + .icon-bar + .icon-bar {
    width: 22px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);  
    margin-top: -9px;
}


/*------------------------------------*\
  #TITULOS
\*------------------------------------*/

/**
 * 
 */

.titulo {
    font-weight: 300;
    text-align: center;
}

.sub-titulo {
    text-align: center;
}



/*------------------------------------*\
  #BLOCOS
\*------------------------------------*/

/**
 * Header.
 */

.header {
    background: #fff url("../img/banner.jpg") no-repeat top center / cover;
    height: 765px;
    padding: 30px 30px 0;
    overflow: hidden;
}

    .navbar-brand__startups {
        margin-left: 15px;
    }

    .header__frase {
        position: absolute;
        z-index: 0;
        bottom: 15%;
        left: 50px;

        background-color: #33b2cc;
        background-color: rgba(51,178,204, 0.9);

        padding: 35px;
    }

        .header__frase h1 {
            color: #fff;
            font-size: 44px;
            line-height: 40px;
            margin: 0;
        }




/**
 * Conteudo principal
 */

/*quem somos*/
.section__quem-somos {
    background: url("../img/fundo-foguete.jpg") no-repeat -200% 727px;
    /*height: 727px;*/

    -webkit-transition: all ease 1s;
    -o-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -ms-transition: all ease 1s;
    transition: all ease 1s;
}

.section__quem-somos.fundo {
    background-position: top left;
}

    .quem-somos__texto {
        transform: translateY(70%);
        text-align: right;
    }

        .quem-somos__texto p {
            float: right;
            width: 75%;
            line-height: 35px;
        }

        .quem-somos__link-site {
            float: right;
            background-color: #e6e6e6;
            color: #999;
            font-size: 14px;
            margin-top: 25px;
            padding: 10px 42px;
            border-radius: 25px;
        }

        .quem-somos__texto h1 {
            color: #7d7d7d;
            font-weight: 600;
        }    

/*em numero*/
.section__numeros {
    background: url("../img/fundo-em-numeros__big.jpg") no-repeat center / cover;
    background-attachment: fixed;
    min-height: 435px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 100px;
}

/*o que fazemos*/
.section__fazemos {
    color: #fff;
    padding-top: 70px;
    padding-bottom: 70px;
}

    .section__fazemos h1 {
        color: #33b2cc;
        text-align: center;        
    }

    .section__fazemos h2 {
        font-weight: 100;
        color: #7d7d7d;
        text-align: center;
        margin-top: 0;
        margin-bottom: 50px;
    }

    .section__fazemos h3 {
        font-size: 26px;
    }    

    .fazemos__box {
        height: 482px;
        padding: 30px 40px;
    }

    .fazemos__box.negocios { background: url("../img/bg-modelo-negocios.png") no-repeat center; }
    .fazemos__box.software { background: url("../img/bg-dev-software.png") no-repeat center; }
    .fazemos__box.operacao { background: url("../img/bg-sustentacao.png") no-repeat center; }

        .fazemos__box .box__icone {
            text-align: center;
            margin: 20px 0 0 0;
        }

        .fazemos__box .box__texto {
            margin: 80px 0 0 0;
        }        

/*planejamos e executamos*/
.section__planejamos {
    background: url("../img/bg-processo-trabalho.jpg") no-repeat center / cover;
    min-height: 750px;
    color: #fff;
    padding-top: 70px;
    padding-bottom: 70px;
}

    .section__planejamos h1 {
        text-align: center;        
    }

    .section__planejamos h2 {
        font-weight: 100;
        text-align: center;
        margin-top: 0;
        margin-bottom: 50px;
    }

    .section__planejamos h3 {
        font-size: 26px;
    }    

    .planejamos__box {
        margin-top: 25px;
        margin-bottom: 25px;
    }

        .planejamos__box .box__icone { text-align: center; }
        .planejamos__box .box__texto {} 

    .planejamos__observacao {
        background-color: #fff;
        background-color: rgba(255,255,255,0.2);
        border-radius: 25px;
        padding: 30px;
        margin-top: 50px;
    }

        .planejamos__observacao h4,
        .planejamos__observacao h5 {
            font-size: 17px;
        }

        .planejamos__observacao h5 {
            font-weight: 100;
        } 

/*projetos desenvolvidos*/
.section__projetos {
    color: #7d7d7d;
    padding-top: 70px;
    padding-bottom: 70px;
}

    .section__projetos h1 {
        color: #7d7d7d;
        text-align: center;        
    }

    .section__projetos h2 {
        color: #7d7d7d;
        font-weight: 100;
        font-size: 16px;
        text-align: center;
        margin-top: 0;
        margin-bottom: 50px;
    }

    .projetos_slider {
        background: transparent url("../img/bg-projetos-slider.jpg") repeat-x 0 80px;
        text-align: center;
    }

        .projetos_slider .logotipo {}

        .projetos_slider .texto {
            background-image: url("../img/quote-top.png"), url("../img/quote-bottom.png");
            background-position: left top, right bottom;
            background-repeat: no-repeat;
            margin-top: 50px;
            padding: 15px;
            line-height: 30px;
        }

        .projetos_slider .subtexto {
            font-size: 14px;
            font-style: italic;
            margin-top: 15px;
            margin-bottom: 30px;
        }

        .projetos_slider .url {
            background-color: #e6e6e6;
            color: #7d7d7d;
            font-size: 12px;
            padding: 12px 36px;
            border-radius: 50px;
        }


        /* bxslider */
        .bx-wrapper .bx-viewport {
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            border:  0;
            left: -5px;
            background-color: transparent;
        }

        .bx-wrapper .bx-pager {
            /*bottom: 0;*/
            padding-top: 0;
        }        

        .bx-wrapper .bx-pager.bx-default-pager a {
            background: #999;
            margin: 0 5px;
        }

        .bx-wrapper .bx-pager.bx-default-pager a:hover,
        .bx-wrapper .bx-pager.bx-default-pager a.active {
            background: #33b2cc;
        }        

        .bx-wrapper .bx-prev {
            background: url("../img/esquerda.png") no-repeat 0 0;
        }

        .bx-wrapper .bx-next {            
            background: url("../img/direita.png") no-repeat 0 0;
        }

        .bx-wrapper .bx-prev:hover { background-position: 0 0; opacity: 0.65; }
        .bx-wrapper .bx-next:hover { background-position: 0 0; opacity: 0.65; }

        .bx-wrapper .bx-controls-direction a {
            position: absolute;
            top: 50%;
            margin-top: -22px;
            outline: 0;
            width: 35px;
            height: 55px;
            text-indent: -9999px;
            z-index: 9999;
        }

/*planejamos e executamos*/
.section__parceiros {
    background: #E7E7E7 url("../img/fundo-clientes.jpg") no-repeat center;
    min-height: 500px;
    color: #7d7d7d;
    padding-top: 100px;
    padding-bottom: 70px;
}

    .section__parceiros h1 {
        color: #7d7d7d;
        text-align: center;        
    }

    .section__parceiros h2 {
        color: #7d7d7d;
        font-weight: 100;
        font-size: 16px;
        text-align: center;
        margin-top: 0;
        margin-bottom: 50px;
    }

/*contato*/
.section__contato {
    background: url("../img/fundo-contato.jpg") no-repeat center / cover;
    /*min-height: 846px;*/
    padding-top: 120px;
    padding-bottom: 120px;
}

    .section__contato h1 {
        text-align: center;        
    }

    .section__contato h2 {
        font-weight: 100;
        font-size: 16px;
        text-align: center;
        margin-top: 0;
        margin-bottom: 50px;
    }

    .contato__dados {
        margin-top: 25px;
    }

        .contato__icone {
            float: left;
            margin-right: 15px;
        }

        .contato__texto {
            color: #fff;
            /*margin-top: 15px;*/
            vertical-align: middle;
        }

    .contato__form {
        background-color: #000;
        background-color: rgba(0,0,0,0.3);
        text-align: center;
        padding: 50px;
        padding-top: 15px;
        border-radius: 25px;                
    }

        .contato__form .form-control {
            background-color: transparent;
            border: 1px solid transparent;
            box-shadow: none;
            font-size: 20px;
            height: auto;
        }

        .contato__form .form-control:focus {
            border: 1px solid #666;
        }        

        .contato__form .btn-default {
            background-color: #27434a;
            color: #fff;
            font-weight: 600;
            border: 0;
            padding: 12px 36px;
            box-shadow: none;
            text-transform: uppercase;
            outline: none;
        }    


/**
 * Footer geral
 */
.footer {
    background-color: #666666;
    padding-top: 15px;
    padding-bottom: 15px;
}

    .footer a {
        color: #fff;
        text-decoration: none;
    }

    .footer__links {
        text-align: right;
        margin-top: 15px;
    }

        .footer__links a {            
            margin-right: 50px;
        }

    .footer__copyright {
        text-align: left;
    }


/**
 * Erro404
 */
.erro404 {
    color: #666;
    background: none;
}

.erro404 .titulo {
    font-family: "Segoe UI Light",Arial,sans-serif;
}

.erro404 .header__btn-experimente {
    border: 2px solid #DD3416;
    color: #DD3416;
    font-size: 20px;
    font-family: "Segoe UI Light",Arial,sans-serif;
}

.Erro404 {
    margin: 10% auto 0px;
}



/*------------------------------------*\
  #MODIFICADORES
\*------------------------------------*/

/**
 * Modificadores de estilo gerais.
 */

/*mensagem de validacao no formulario*/
.tem-erro .form-control,
.tem-erro .form-control:focus {
    border-color: #EB2A35;
}

.tem-erro input::-webkit-input-placeholder { color: #ff0000; }
.tem-erro input::-moz-placeholder { color: #ff0000; }
.tem-erro input:-ms-input-placeholder { color: #ff0000; }
.tem-erro input:-moz-placeholder { color: #ff0000; }

.tem-erro textarea::-webkit-input-placeholder { color: #ff0000; }
.tem-erro textarea::-moz-placeholder { color: #ff0000; }
.tem-erro textarea:-ms-input-placeholder { color: #ff0000; }
.tem-erro textarea:-moz-placeholder { color: #ff0000; }

.tem-erro select { color: #ff0000; }  